# 이 노트북에 관해
이 노트북은 새로운 70:30 split dataset에 대해 기존 GRU, LSTM을 적용했던 방법을 그대로 적용하기 위해 만들어졌습니다. 따라서 먼저 데이터셋의 기간으로 정렬하고 지역별로 나눠서 새로운 데이터셋으로 저장합니다.

그 다음 wandb를 사용해 hyper parameter sweep을 합니다. 다만, best validation acc을 log에 추가하고, GRU/LSTM layer 선택을 hyper parameter로 넣어버립시다.

# About this notebook

### 2022-11-27
날짜 붙여서 출력하는 버전도 만든다. 이건 cvae쪽에서 쓸 것이다. random_shuffled=False, output_include_datetime=True를 추가하여 쓴다.  
이 버전은 (github repo.)aiffelthon/cvae_poc/cvae_poc.ipynb 에서 다시 처리될 것이다.

### 2022-11-26 이전  
This notebook generate dataset for [class1_LSTM&GRU_sweep](https://github.com/chhyyi/aiffelthon/blob/main/class1_LSTM%26GRU_sweep.ipynb) 

Also changes, descriptions are there.

## 데이터셋별 merge, interpolate

In [4]:
import pandas as pd
import tensorflow as tf
from tensorflow import keras
import matplotlib.pyplot as plt
import numpy as np


import os

In [8]:

random_shuffled=False
observe=True

if random_shuffled==False:
    ds = pd.read_csv('~/aiffel/aiffelthon_local/data/17-19실측(예찰선)labeled.csv', encoding='euc-kr')
    ds=pd.concat([ds, pd.read_csv('~/aiffel/aiffelthon_local/data/20-220930실측(예찰선)labeled.csv', encoding='euc-kr')])
else:
    if observe:
        ds=pd.read_csv(os.path.join(os.getenv("HOME"),"aiffel/aiffelthon/sample_data/(class1 실측_70)_train.csv"),encoding='euc-kr')
        #s=pd.read_csv(os.path.join(os.getenv("HOME"),"aiffel/aiffelthon/sample_data/(class1 실측_30)_test.csv"),encoding='euc-kr')
    else:
        #ds=pd.read_csv(os.path.join(os.getenv("HOME"),"aiffel/aiffelthon/sample_data/(class1 조건_70)_train.csv"),encoding='euc-kr')
        ds=pd.read_csv(os.path.join(os.getenv("HOME"),"aiffel/aiffelthon/sample_data/(class1 조건_30)_test.csv"),encoding='euc-kr')

In [9]:

ds['year']=ds['일시'].apply(lambda x: pd.Timestamp(x).year)
ds['mm']=ds['일시'].apply(lambda x: pd.Timestamp(x).month)
ds['dd']=ds['일시'].apply(lambda x: pd.Timestamp(x).day)
ds['hh']=ds['일시'].apply(lambda x: pd.Timestamp(x).hour)

## Dataset & output format

### 2022-11-27
observe : class1 70:30 분할 데이터를 처리하기 위해 구분했던 것이다.
random_shuffled : 2022-11-27에 
output_include_datetime : True

In [14]:
dt_index=['year', 'mm', 'dd', 'hh']

if observe:
    df_default_index=['지점',  'year', 'mm', 'dd', 'hh', '풍속(m/s)', '풍향(deg)', '기온(°C)', '수온(°C)', '강수량(mm)', '적조발생(실측)']
else:
    df_default_index=['지점',  'year', 'mm', 'dd', 'hh', '풍속(m/s)', '풍향(deg)', '기온(°C)', '수온(°C)', '강수량(mm)', '적조발생(조건)']

if random_shuffled==False:
    df_default_index=['지점',  'year', 'mm', 'dd', 'hh', '풍속(m/s)', '풍향(deg)', '기온(°C)', '수온(°C)', '강수량(mm)', '적조발생']

output_include_datetime=True


#reset index
ds.sort_values(by=dt_index, inplace=True)
ds.reset_index(inplace=True, drop=True) #'if drop'=True, drop current index. if False, it becomes a new column.
ds=ds[df_default_index]

ds

         지점  year  mm  dd  hh  풍속(m/s)  풍향(deg)  기온(°C)  수온(°C)  강수량(mm)  적조발생
0       추자도  2017   1   1   1      4.2    306.0    11.0    15.8      0.0     0
1       거문도  2017   1   1   1      4.7    310.0    10.1    13.9      0.0     0
2        울산  2017   1   1   1      8.0    312.0     8.0    16.0      0.0     0
3       거제도  2017   1   1   1      5.5    157.0     9.3    15.9      0.0     0
4        통영  2017   1   1   1      NaN      NaN     8.8    17.5      0.0     0
...     ...   ...  ..  ..  ..      ...      ...     ...     ...      ...   ...
237884  추자도  2022   9  30  23      2.2    348.0    17.7    23.4      0.0     0
237885  거문도  2022   9  30  23      2.3    268.0    22.4    24.3      0.0     0
237886   통영  2022   9  30  23      4.2    284.0    23.6    24.3      0.0     0
237887  거제도  2022   9  30  23      2.6    274.0    23.3    24.0      0.0     0
237888   울산  2022   9  30  23      1.9    200.0    23.5    25.2      0.0     0

[237889 rows x 11 columns]

In [15]:

class Lin_Interpolate:
    """Linear interpolate nan datetimes
    """
    def __init__(self, dataframe, output_datetime=False):
        """receive 'datetime dateframe'. It should include
        yyyy, mm, dd, hh as columns of which type is int64"""
        self.dtd=dataframe
        self.time_start=self.dtd[dt_index].loc[0].to_numpy()
        self.time_end=self.dtd[dt_index].loc[len(self.dtd)-1].to_numpy()
        self.output_datetime=output_datetime
    
    def check_sorted(self):
        #return (self.dtd.sort_values(by=dt_index,ascending=True) == self.dtd).all()
        if (self.dtd.sort_values(by=dt_index,ascending=True)['dd'] == self.dtd['dd']).all() \
            and (self.dtd.sort_values(by=dt_index,ascending=True)['year'] == self.dtd['year']).all()\
            and (self.dtd.sort_values(by=dt_index,ascending=True)['mm'] == self.dtd['mm']).all():
            return True
        else:
            return False
    def next_hour(self, array):
        '''def next_day(self, array)
        return next day as numpy ndarray.
        '''
        next_hour=pd.Timestamp(*array)+pd.Timedelta(1, 'h')
        return np.array([next_hour.year, next_hour.month, next_hour.day, next_hour.hour])
        
    
    def missing_hours(self, t0, t1):
        t=t0
        
        period=int((pd.Timestamp(*t1)-pd.Timestamp(*t0))/np.timedelta64(1, 'h'))
        
        missing_hours_list=[]
        missing_hours_number=0
        missing_hours_df=pd.DataFrame()

        iter_dates=self.dtd[dt_index].values.tolist()
        if (iter_dates[-1]!=t1).any():
            iter_dates.append(t1)
            missing_hours_list.append(t1)
            missing_hours_number+=1
        if (iter_dates[0]!=t0).any():
            iter_dates.insert(0, t0)
            missing_hours_list.append(t0)
            missing_hours_number+=1

        for target_date in iter_dates:
            #print(target_date, type(target_date[0]))
            #target_date=date_
            try:
                while pd.Timestamp(*t)<=pd.Timestamp(*target_date):
                    if (t==target_date).all():
                        t=self.next_hour(t)
                    else:
                        missing_hours_list.append(t)
                        t=self.next_hour(t)
                        missing_hours_number+=1
            except:
                print(target_date)
                break

        print('total {} missing hours found'.format(missing_hours_number))
        
        return pd.DataFrame(missing_hours_list, columns=dt_index)

    def fill_hours(self, target_df, time_start, time_end):
        target_df['interpolated']=target_df.isna().any(axis=1)
        missing_hours=self.missing_hours(time_start, time_end)
        missing_hours['interpolated']=np.ones(len(missing_hours))
        
        return pd.concat([target_df, missing_hours])
    
#ds0=ds.loc[ds['지점']=='추자도']

In [16]:
#print(ds0[dt_index].values.tolist())

In [16]:
locations=['거문도', '울산', '거제도', '통영', '추자도']

lin_interpolate=Lin_Interpolate(ds, output_datetime=output_include_datetime)
t0_total=lin_interpolate.time_start
t1_total=lin_interpolate.time_end
period=pd.Timestamp(*t1_total)-pd.Timestamp(*t0_total)

if random_shuffled==False:
    target_col=['적조발생', 'interpolated']+dt_index
else:
    if observe:
        target_col=['적조발생(실측)', 'interpolated']
    else:
        target_col=['적조발생(조건)', 'interpolated']
print('target_cols are ',target_col)



for pos in locations:
    ds0=ds.loc[ds['지점']==pos]

    ds0.reset_index(inplace=True)
    ds0=ds0[df_default_index]

    lin_interpolate=Lin_Interpolate(ds0)

    print('previous num rows: {} in location {}'.format(len(ds0), pos))
    ds0=lin_interpolate.fill_hours(ds0, time_start=t0_total, time_end=t1_total)
    print('num rows:', len(ds0))

    #reset index
    ds0.sort_values(by=dt_index, inplace=True)
    ds0.reset_index(inplace=True, drop=True) #'if drop'=True, drop current index. if False, it becomes a new column.
    ds0=ds0[df_default_index+[target_col[1]]]
    
    ds0[target_col[0]] = ds0.groupby(dt_index[:-1], sort=False)[target_col[0]]\
                    .apply(lambda x: x.ffill().bfill())

    ds0.interpolate(limit_area='inside', inplace=True)
    if pos==locations[0]: #if first loop
        label=ds0[target_col]
    else:
        label['interpolated']=np.logical_or(label['interpolated'].values, ds0['interpolated'].values)

    ds0.drop(columns=set(['지점', 'year', 'mm', 'dd', 'hh']+target_col), inplace=True)
    
    if pos==locations[0]:
        df_merged=ds0
    else:
        df_merged=pd.concat([df_merged, ds0], axis=1)

#merge label
df_merged_store=pd.concat([df_merged, label], axis=1)

target_cols are  ['적조발생', 'interpolated', 'year', 'mm', 'dd', 'hh']
previous num rows: 49355 in location 거문도
total 1020 missing hours found
num rows: 50375
previous num rows: 47320 in location 울산
total 3055 missing hours found
num rows: 50375

/tmp/ipykernel_86/879500062.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  label['interpolated']=np.logical_or(label['interpolated'].values, ds0['interpolated'].values)

previous num rows: 47300 in location 거제도
total 3075 missing hours found
num rows: 50375
previous num rows: 46985 in location 통영
total 3390 missing hours found
num rows: 50375
previous num rows: 46929 in location 추자도
total 3446 missing hours found
num rows: 50375

In [19]:
print(df_merged_store.columns)

Index(['풍속(m/s)', '풍향(deg)', '기온(°C)', '수온(°C)', '강수량(mm)', '풍속(m/s)',
       '풍향(deg)', '기온(°C)', '수온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(deg)',
       '기온(°C)', '수온(°C)', '강수량(mm)', '풍속(m/s)', '풍향(deg)', '기온(°C)', '수온(°C)',
       '강수량(mm)', '풍속(m/s)', '풍향(deg)', '기온(°C)', '수온(°C)', '강수량(mm)', '적조발생',
       'interpolated', 'year', 'mm', 'dd', 'hh'],
      dtype='object')

In [22]:
df_merged=df_merged_store
print(len(df_merged), '\n\n')
#print(df_merged.isna().any())
df_merged.dropna(inplace=True)
print(df_merged.isna().sum(), '\n total_rows: ',len(df_merged))

50375


풍속(m/s)         0
풍향(deg)         0
기온(°C)          0
수온(°C)          0
강수량(mm)         0
풍속(m/s)         0
풍향(deg)         0
기온(°C)          0
수온(°C)          0
강수량(mm)         0
풍속(m/s)         0
풍향(deg)         0
기온(°C)          0
수온(°C)          0
강수량(mm)         0
풍속(m/s)         0
풍향(deg)         0
기온(°C)          0
수온(°C)          0
강수량(mm)         0
풍속(m/s)         0
풍향(deg)         0
기온(°C)          0
수온(°C)          0
강수량(mm)         0
적조발생            0
interpolated    0
year            0
mm              0
dd              0
hh              0
dtype: int64
 total_rows:  50336

In [23]:
df_merged.iloc[:,:-len(target_col)]=(df_merged.iloc[:,:-len(target_col)]-df_merged.iloc[:,:-len(target_col)].mean())/df_merged.iloc[:,:-len(target_col)].std()
df_merged

,풍속(m/s),풍향(deg),기온(°C),수온(°C),강수량(mm),풍속(m/s),풍향(deg),기온(°C),수온(°C),강수량(mm),...,풍향(deg),기온(°C),수온(°C),강수량(mm),적조발생,interpolated,year,mm,dd,hh
39,-0.846358,0.903430,-0.460595,-0.297487,-0.124668,-1.539878,0.752017,-0.658575,-0.665820,-0.134178,...,1.551810,-0.364254,-0.500266,-0.112367,0.0,False,2017,1,2,16
40,-0.308964,0.861089,-0.404756,-0.276128,-0.124668,-1.661737,0.652532,-0.588377,-0.620489,-0.134178,...,-1.337830,-0.391642,-0.519119,-0.112367,0.0,1.0,2017,1,2,17
41,-0.428385,0.945770,-0.348918,-0.297487,-0.124668,-1.448484,0.534960,-0.616456,-0.643154,-0.134178,...,1.378432,-0.377948,-0.519119,-0.112367,0.0,False,2017,1,2,18
42,-0.338819,0.827217,-0.293080,-0.404279,-0.124668,-1.539878,0.652532,-0.546258,-0.665820,-0.134178,...,1.386688,-0.323173,-0.519119,-0.112367,0.0,False,2017,1,2,19
43,0.168719,1.064324,-0.320999,-0.468355,-0.124668,0.074754,0.842458,-0.447980,-0.688485,-0.134178,...,-1.329574,-0.336867,-0.500266,-0.112367,0.0,False,2017,1,2,20
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50370,-1.712158,0.115895,0.879527,1.218967,-0.124668,-1.082907,-0.405622,0.899828,1.260715,-0.134178,...,-1.329574,0.881887,1.196504,-0.112367,0.0,False,2022,9,30,19
50371,-1.353896,0.183640,0.893486,1.176250,-0.124668,-0.991512,-0.360402,0.857709,1.238050,-0.134178,...,-1.222244,0.553234,1.026827,-0.112367,0.0,False,2022,9,30,20
50372,-1.353896,0.454619,0.879527,1.176250,-0.124668,-1.143836,-0.360402,0.857709,1.215385,-0.134178,...,1.477505,0.347826,0.970268,-0.112367,0.0,False,2022,9,30,21
50373,-1.234475,0.573173,0.837648,1.261684,-0.124668,-1.418019,-0.043860,0.815590,1.215385,-0.134178,...,1.361919,0.690173,0.932562,-0.112367,0.0,False,2022,9,30,22
50374,-1.144909,0.615514,0.837648,1.283042,-0.124668,-1.387554,0.146065,0.829630,1.238050,-0.134178,...,1.494017,0.265663,0.932562,-0.112367,0.0,False,2022,9,30,23

In [30]:
df_merged.to_csv("observe_train_refined_with_datetime.csv")

In [31]:
df_merged.isna().any()

풍속(m/s)         False
풍향(deg)         False
기온(°C)          False
수온(°C)          False
강수량(mm)         False
풍속(m/s)         False
풍향(deg)         False
기온(°C)          False
수온(°C)          False
강수량(mm)         False
풍속(m/s)         False
풍향(deg)         False
기온(°C)          False
수온(°C)          False
강수량(mm)         False
풍속(m/s)         False
풍향(deg)         False
기온(°C)          False
수온(°C)          False
강수량(mm)         False
풍속(m/s)         False
풍향(deg)         False
기온(°C)          False
수온(°C)          False
강수량(mm)         False
적조발생            False
interpolated    False
year            False
mm              False
dd              False
hh              False
dtype: bool

In [32]:
df_merged['적조발생'].unique()

array([0., 1.])